@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lumanosimo&family=Poppins:wght@100;200;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

:root {
    --base-color: #682A85;
    --b-txt-color: #470DA5;
    --light-color: #f2ecf5;
    --support-color: #A904F6;
    --gr1: #92B4E6;
    --gr2: #DEE0CD;
    --bg-color: #8c01d1;
    --box-shadow: #e6ecf5;
    --red: #f1468e;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* ========header styling============ */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 100px;
    border-bottom: 2px solid var(--bg-color);
    position: sticky;
    top: 0;
    background: linear-gradient(to right, var(--gr2), var(--gr1), var(--gr2));
    z-index: 1000;
}

#close-menu, #menu {
    display: none;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 2em;
    position: relative;
    transition: .5s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: var(--b-txt-color);
    text-transform: uppercase;
    font-size: 18px;

}

nav ul li::after {
    content: "";
    display: block;
    height: 5px;
    background: var(--base-color);
    position: absolute;
    bottom: -24px;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li:hover {
    transform: scale(1.1);
    font-weight: 700;
}

/* ==============main styling============ */

main {
    display: flex;
    padding: 1em 120px;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0;
}

main {
    /* background: var(--light-color); */
}

.intro {
    color: var(--bg-color);
    position: relative;
}

.hi {
    font-family: 'Lumanosimo', cursive;
    font-size: 20px !important ; 
}

.hi span {
    color: var(--red) !important;
}

main .handles {
    padding-bottom: 2em;
}

.intro .blob {
    width: 200px;
}

.intro h1 {
    color: var(--b-txt-color);
    font-size: 45px;
}

.intro p {
    font-size: 20px;
    font-weight: 500;
}

.intro .handles {
    margin-top: 20px;
    
}

.intro p span {
    color: var(--red);
    font-weight: 600;
    font-family: 'Lumanosimo', cursive;
    letter-spacing: 3px;

    
}

.intro .handles i {
    font-size: 30px;
    margin-right: 10px;
    transition: .3s ease-out;
}

.intro .handles i:hover {
    transform: scale(1.2);
}

#twitter, #facebook, #linkedin, #telegram {
    color: #0068C2;
}

#whatsapp {
    color: #00C350;
}

#instagram {
    color: #F700B8;
}

#github {
    color: #000;
}

#email {
    color: #d84214;
}

#hire-me {
    text-decoration: none;
    display: block;
    background: var(--b-txt-color);
    color: var(--light-color);
    width: fit-content;
    padding: .5em 1em;
    border-radius: .3em;
    transition: .3s ease-out;
}

#hire-me:hover {
    opacity: .5;
}

.my-pic {
    flex: 1;
    /* margin-left: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.my-pic .blob {
    position: absolute;
    bottom: 0;
    /* z-index: ; */
    width: 500px;
}

.my-pic img {
    width: fit-content;
    height: 600px;
    z-index: 100;
}


/* ========== About section styling ======== */

#about {
    display: flex;
    background: linear-gradient(120deg, var(--gr1), var(--gr2));
    margin: 0;
    padding: 5em 120px;
    padding-bottom: 0;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}

#about .my-pic {
    margin-top: 3em;
}

#about .intro {
    margin-top: 6em;
    margin-left: 2em;
}

#about p {
    color: var(--b-txt-color);
    font-size: 18px;
    word-spacing: .3em;
    
}

#read-more {
    display: block;
    padding: .5em 0 2em 0;
}

.hide-me {
    display: none;
}

.centering {
    position: absolute;
    top: 2em;
    left: 50%;
    font-size: 32px;
    transform: translateX(-50%);
    color: var(--b-txt-color);
    
}

.centering::before, .centering::after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--base-color);
    display: block;
    position: absolute;
}

.centering::before {
    left: -60px;
    top: 22px;
}

.centering::after {
    right: -60px;
    top: 22px;
}

/* ========== Services styling ===== */

#services {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    padding-top: 8em;

}

#services > p {
    margin: 1em 0 1.5em 0;
}

.expertise{
    width: 90%;
    display: grid;
    /* place-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2em;
    margin: 1em auto;

}

.expertise .card {
    box-shadow: 0 0 5px var(--box-shadow),
                0 0 15px var(--box-shadow);
    padding: 2em;
    border-radius: .5em;
}

.card h3 {
    color: var(--base-color);
    border-top: 1px solid var(--gr1);
    padding-top: 1em;
}

.card i {
    font-size: 50px;
    color: var(--b-txt-color);
    display: block;
    text-align: center;
    margin-bottom: .5em;
}

.card li {
    list-style: none;
    position: relative;
    padding-left: 1.2em;
    
}

.card li::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: var(--gr1);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

/* ========== Skills styling ========= */

#skills {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    padding-top: 8em;
    background: linear-gradient(to bottom right, var(--gr2), var(--gr1), var(--gr2));
}

#skills > p {
    margin: 1em 0 1.5em 0;
    color: var(--b-txt-color);
}

#skills .card {
    background: #fff;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

#skills .icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-color);
    border-radius: 50%;
    padding: 2em;
    margin-right: 1em;
}

#skills .icon-details {
    flex: 1;
}

.percent {
    position: relative;
    padding: .5em 0;

}
.percent > div {
    height: 5px;
    width: 100%;
    background: var(--light-color);
    border-radius: 1em;
    position: absolute;
    /* top: 0;
    left: 0; */
}

#skills .card h3 {
    border-top: none;
    /* padding-top: 2px; */
    font-size: 16px;
} 

#skills .card i {
    margin: 0;
    font-size: 40px;
}


.html {
    background: var(--b-txt-color) !important;
    width: 90% !important;
}

.css {
    background: var(--b-txt-color) !important;
    width: 80% !important;
}

.js {
    background: var(--b-txt-color) !important;
    width: 70% !important;
}

.bootstrap {
    background: var(--b-txt-color) !important;
    width: 40% !important;
}

.nodejs {
    background: var(--b-txt-color) !important;
    width: 40% !important;
}

.express {
    background: var(--b-txt-color) !important;
    width: 40% !important;
}

.sass {
    background: var(--b-txt-color) !important;
    width: 50% !important;
}

.wordpress {
    background: var(--b-txt-color) !important;
    width: 40% !important;
}

.figma {
    background: var(--b-txt-color) !important;
    width: 80% !important;
}


#skills .icon-details > span {
    display: block;
    margin-top: .2em;
    text-align: end;
}

/* ======portfolio styling ====== */

#portfolio {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    padding-top: 8em;
    /* background-image: url(images/bg-shapes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    
}

#portfolio > p {
    margin: 1em 0 1.5em 0;
}

#portfolio .expertise {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#portfolio .card {
    padding: 0;
    overflow: hidden;
    border: 1px solid var(--gr1);
    box-shadow: 0 0 5px var(--box-shadow),
                0 0 15px var(--box-shadow),
                0 0 25px var(--box-shadow),
                0 0 35px var(--box-shadow);
}

#portfolio .card:hover {
    opacity: .65;
}

#portfolio img {
    width: 100%;
    height: 100%;
    display: block;
}


/* =====Contact me styling ===== */

#contact {
    width: 100%;
    background: var(--gr1);
    display: flex;
    flex-direction: column;
    /* padding: 1em 120px; */
}

.keep-in-touch {
    display: none;
}

.sub-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1em 120px;
}

.location > div {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.location > div i {
    margin-right: 1em;
    color: var(--b-txt-color);
    font-size: 1.5rem;
}

.copy-right {
    background: var(--box-shadow);
    padding: 1em 120px;
    text-align: center;
}

/* =====media Query for tab===== */
@media screen and (max-width: 920px) {
    
    /* =====header styling==== */
    header, .sub-header {
        padding: 1em 50px;
    }

    #menu, #close-menu {
        display: block;
        font-size: 25px;
        color: var(--base-color);
    }

    #close-menu {
        position: absolute;
        left: 2em;
    }

    header nav {
        display: none;
        justify-content: center;
        padding: 2em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--light-color);
    }

    .nav {
        display: flex;
        justify-content: center;
        padding: 2em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--light-color);
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header ul li {
        margin-bottom: 3em;

    }

    /* ========Main and first section styling ===== */

    #home {
        flex-direction: column;
    }

    #home .my-pic {
        margin-top: 2em;
    }

    

    #about {
        flex-direction: column-reverse;
    }
    
    #about .intro p {
        font-size: 16px;
    }

    
}
    
@media screen and (max-width: 500px) {

    body {
        font-size: 14px;
    }

    header, #home, #about {
        padding: 1em;
        padding-bottom: 0;
    }

    #home, #about {
        /* display: block; */
        margin: 0;

    }

    #home i {
        font-size: 22px;   
    }

    #home .intro, .sub-header {
        padding: 1.5em;
    }

    #about .intro {
        margin: 5em 0;
        margin-bottom: 0em;
        padding: 2em 1em;
    }

    #about .my-pic {
        display: none;
    }

    /* ====Blobs styling=== */

    .my-pic .blob {
        width: 370px;
        bottom: 10%;
    }


    /* portfolio styling */
    #portfolio .expertise {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    /* contact me */
    .sub-header {
        flex-direction: column;
    }
    .sub-header a {
        margin-bottom: 2em;
    }

    /* nav hover effect */
    nav ul li::after {
        content: "";
        display: block;
        height: 5px;
        background: var(--base-color);
        position: absolute;
        bottom: -10px;
    }
    
    nav ul li:hover::after {
        width: 100%;
    }
}