.my-loading {
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
}

.load-cycle {
    animation: load 1s linear both infinite;
}

@keyframes load {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
    
}

#read-more {
    display: block;
}

.hide-me {
    display: none;
}

.active {
    border-color: #59168b;
    color: #fff;
    background: #59168b;
}